$back: #212121;
$main: #858585;
$accent: #F54336;

@keyframes fadeout {
  0% {opacity:1;}
  100% {opacity:0;}
}
@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes slide {
  0% {margin-left: 50%;opacity:0;}
  100% {margin-left: 0;opacity:1;}
}

@keyframes marquee {
  0% {}
  100%{margin-left: -300%;}
}

@keyframes spin {
	100% {transform:rotate(360deg);}
}

@keyframes scaleout {
  0% {transform: scale(0);}
  100% {transform: scale(1.0);opacity: 0;margin: -50px;}
}
@keyframes rotate360 {
  50% {transform: rotate(360deg);}
  0%,100% {transform: rotate(0deg);}
}