.player{
  animation: slide 1s ease-in-out;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $back;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 20px 40px 0px rgba(0,0,0,.5);
  
  .back{
    animation: fadein 2s ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 1.5em;
    color: darken($main, 20%);;
    cursor: pointer;
    i{
      height: 100%;
      width: 100%;
      padding: 15px;
    }
    i:hover{
      color: $main;
    }
  }


  .volume{
    animation: fadein 2s ease-in-out;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.5em;
    color: darken($main, 20%);;
    cursor: pointer;
    z-index: 10;
    i{
      height: 100%;
      width: 100%;
      padding: 15px;
    }
    i:hover{
      color: $main;
    }
  }

  .volumeControl{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,.8);
      #volumeControl{
        transform: rotate(-90deg);
        position: absolute;
        right: -7px;
        top: 85px;
        width: 70px;

        height: 3px;
        -webkit-appearance: none;
        background: transparent;
        border-radius: 0;

        &:focus {
          outline: none;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 15px;
          height: 15px;
          background-color: $accent;
          border-radius:50%;
          margin-top: -6px;
        }

        &::-moz-range-thumb {
          width: 15px;
          height: 15px;
          background-color: $accent;
          border-radius:50%;
          margin-top: -6px;
        }

        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          background-color: $main;
        }
        &::-moz-range-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          background-color: $main;
        }
        &:hover::-webkit-slider-runnable-track {
          background: lighten($main,20%);
        }
        &:hover::-moz-range-track {
          background: lighten($main,20%);
        }

      }
  }
  
  
  .cover{
    height: 50vh;
    width: 50vh;
    background-size: 180%;
    background-position: center;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 0;
  }
  .header{
    width: 100%;
    padding: 0 15px 20px 15px;
    white-space: nowrap;
    overflow: hidden;
    
    & div.long:hover{
      animation: marquee 7s infinite;
    }
    
    .song{
      font-size: 1.1em;
      font-weight: 600;
      color: lighten($main, 20%);
    }
    .author{
      font-weight: 300;
      color: $main;
      margin-top: 3px;
    }
  }
  .controls{
    width: 100%;
    display: flex;
    font-size: 3em;
    justify-content: space-around;
    color: $main;
    cursor: pointer;
    i{
      height: 100%;
      width: 100%;
      padding: 0 10px;
    }
    i:hover{
      color: lighten($main, 20%);
    }
  }
  .progress{
    width: 100%;
    padding: 0 15px;
    height: 3px;
    
    #current{
      width: 100%;
      height: 3px;
      -webkit-appearance: none;
      background: transparent;
      border-radius: 0;
      overflow: hidden;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
      &:focus {
        outline: none;
      }
      
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0px;
        box-shadow: -100vw 0 0 100vw $accent;
      }
      
      &::-moz-range-thumb {
        width: 0px;
        box-shadow: -100vw 0 0 100vw $accent;
      }
      
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background-color: $main;
      }
      &::-moz-range-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background-color: $main;
      }
      &:hover::-webkit-slider-runnable-track {
        background: lighten($main,20%);
      }
    }
  }
  
  @media only screen and (min-width: 720px) {
    position: fixed;
    width: 360px;
    margin-left: -180px;
    left: 50%;
    animation: fadein 1s ease-in-out;
  }
  @media only screen and (min-width: 500px) {
    height: 100vh;
  }
}