@import "_variables";
@import "_keyframes";
@import '_playlists';
@import '_player';

html, body{
  height: 100%;
}

body{
  background-color: lighten($back, 80%);
  &::-webkit-scrollbar {
    background-color: transparentize($back, .5);
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparentize($accent, .1);
  }
  overflow-x: hidden;
}
#loader{
  display: none;
  position: fixed;
  z-index: 1000;
  text-align: center;
  background-color: rgba(0,0,0,.3);
  color: lighten($main, 50%);
  padding: 15px;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  bottom: 15px;
}